android/.gradle/4.1/fileChanges/last-build.bin
android/.gradle/4.1/fileContent/fileContent.lock
android/.gradle/4.1/fileHashes/fileHashes.bin
android/.gradle/4.1/fileHashes/fileHashes.lock
android/.gradle/4.1/fileHashes/resourceHashesCache.bin
android/.gradle/4.1/javaCompile/classAnalysis.bin
android/.gradle/4.1/javaCompile/jarAnalysis.bin
android/.gradle/4.1/javaCompile/javaCompile.lock
android/.gradle/4.1/javaCompile/taskHistory.bin
android/.gradle/4.1/javaCompile/taskJars.bin
android/.gradle/4.1/taskHistory/fileSnapshots.bin
android/.gradle/4.1/taskHistory/taskHistory.bin
android/.gradle/4.1/taskHistory/taskHistory.lock
android/.gradle/buildOutputCleanup/built.bin
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/cache.properties.lock
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
android/.idea/workspace.xml
android/.idea/libraries/com_android_support_constraint_constraint_layout_1_0_2.xml
android/.idea/libraries/com_android_support_constraint_constraint_layout_solver_1_0_2_jar.xml
android/.idea/libraries/com_android_support_support_annotations_25_4_0_jar.xml
android/.idea/libraries/com_android_support_test_espresso_espresso_core_3_0_1.xml
android/.idea/libraries/com_android_support_test_espresso_espresso_idling_resource_3_0_1.xml
android/.idea/libraries/com_android_support_test_rules_1_0_1.xml
android/.idea/libraries/com_android_support_test_runner_1_0_1.xml
android/.idea/libraries/com_google_code_findbugs_jsr305_2_0_1_jar.xml
android/.idea/libraries/com_squareup_javawriter_2_1_1_jar.xml
android/.idea/libraries/javax_inject_javax_inject_1_jar.xml
android/.idea/libraries/junit_junit_4_12_jar.xml
android/.idea/libraries/net_sf_kxml_kxml2_2_3_0_jar.xml
android/.idea/libraries/org_hamcrest_hamcrest_core_1_3_jar.xml
android/.idea/libraries/org_hamcrest_hamcrest_integration_1_3_jar.xml
android/.idea/libraries/org_hamcrest_hamcrest_library_1_3_jar.xml
android/build/android-profile/profile-2017-12-06-22-41-19-793.json
android/build/android-profile/profile-2017-12-06-22-41-19-793.rawproto
android/build/android-profile/profile-2017-12-06-22-42-18-347.json
android/build/android-profile/profile-2017-12-06-22-42-18-347.rawproto
